@import 'variables';

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-label {
  font-weight: bold;
  color: $color-text-primary;
  margin-bottom: 0.5rem;
  font-size: $font-size-label;
}

.text-input {
  padding: 0.75rem;
  background-color: $color-input-background;
  border: 1px solid transparent; // Ensures a smooth border transition when error state is applied
  border-radius: $border-radius-small;
  color: $color-text-primary;
  font-size: 1rem;
  outline: none;
  transition: all $transition-duration $transition-ease;

  &:focus {
    background-color: $color-input-focus;
    box-shadow: 0 0 8px $color-shadow-accent;
    border-color: $color-accent;
  }

  &.invalid {
    border-color: $color-danger; // Use your defined danger color
  }
}

.error-message {
  color: $color-danger; // Use the predefined danger color
  font-size: 0.85rem;
  margin-top: 0.3rem;
}
