<div class="auth-container">
  <!-- Tab Navigation -->
  <div class="tab-navigation">
    <button (click)="selectedTab = 'login'" [class.active]="selectedTab === 'login'">Login</button>
    <button (click)="selectedTab = 'register'" [class.active]="selectedTab === 'register'">Register</button>
  </div>
  <ng-container *ngIf="selectedTab === 'login'">
<div class="login-container">

  <h2 class="login-title">Login</h2>
  <img *ngIf="isMobile" src="assets/subject.png" alt="Silk Logo" class="logo-image" />
  <!-- Email Input Field -->
  <div class="input-group">
    <app-text-input-box
      label="Email"
      placeholder="Enter your email"
      type="email"
      [(ngModel)]="email"
      [isInvalid]="emailInvalid"
      errorMessage="Please enter a valid email"
    ></app-text-input-box>
  </div>

  <!-- Password Input Field -->
  <div class="input-group">
    <app-text-input-box
      label="Password"
      placeholder="Enter your password"
      type="password"
      [(ngModel)]="password"
      [isInvalid]="passwordInvalid"
      errorMessage="Password is required"
    ></app-text-input-box>
  </div>

  <!-- Login Button -->
  <div class="button-container">
    <app-button
      class="primary"
      [text]="loading ? 'Logging in...' : 'Login'"
      [disabled]="loading"
      (click)="onLogin()"
    ></app-button>
  </div>
</div>
</ng-container>
<ng-container *ngIf="selectedTab === 'register'">
  <app-register></app-register>
</ng-container>
